@tailwind base;
@tailwind components;
@tailwind utilities;


/* Prevent body and child elements from conflicting */
html, body {
  overflow-x: hidden; /* Disable horizontal scrolling */
  overflow-y: auto; /* Single vertical scrollbar for the body */
  height: 100%; /* Ensure the height matches the viewport */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body covers the viewport height */
}

main {
  flex: 1; /* Allow main content to grow and shrink as needed */
  overflow-y: auto; /* Scroll only if necessary */
}
